.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  padding: 12px 36px;
  @include font(600, 14px, 128%, null, var(--text-color));
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  text-align: center;
}

.btn-bg {
  &:hover {
    background-color: var(--second-button-color);
  }

  &:focus {
    background-color: var(--second-button-color);
    color: #ffffff;
  }

  &:disabled {
    color: #ababab;
  }
}

.btn-tr {
  &:hover {
    border-color: var(--second-button-color);
  }

  &:focus {
    border-color: var(--second-button-color);
    color: #ffffff;
  }

  &:disabled {
    border-color: #ababab;
  }
}

.preload * {
  transition: none !important;
}
