// example
//@include font(700, 32px, 121%, null, var(--second-text-color));
@mixin font($f-weight, $f-size, $l-height, $l-spacing, $color) {
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  letter-spacing: $l-spacing;
  color: $color;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
