<div class="read-modal modal" data-modal="3">
  <button class="read-modal__button-close js-modal-close" data-video>
    <svg class="modal__svg-close">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="modal-container">
    <p class="modal__title read-modal__title">How it’s made?</p>

    <div class="read-modal__ifame">
      <iframe
        id="video"
        class="read-modal__video"
        name="read-modal__video"
        src="https://www.youtube.com/embed/CcCj5geNRwM"
        allowfullscreen
      ></iframe>
    </div>

    <p class="modal__text read-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
