.modal-container {
  border: 2px solid tomato;
}

.modal__svg-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
  fill: #131313;
  cursor: pointer;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  // max-width: 500px;
  max-width: 320px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  // padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: opacity 300ms var(--base-cubic-transition),
    visibility 300ms var(--base-cubic-transition);
  overflow-y: auto;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__title {
  font-family: 'Seymour One';

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  margin-bottom: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}
