.modal__svg-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
  fill: #131313;
  cursor: pointer;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: opacity 300ms var(--base-cubic-transition),
    visibility 300ms var(--base-cubic-transition);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
