<footer class="footer">
    <div class="container">

        <!-- 
        <h2 class="visually-hidden">Adress</h2>
        <ul class="footer-list">
            <li class="footer-list-li">
               
                    <h3 class="footer-list-li-h3"><a href="" class="footer-list-li-h3-a">CAFE</a></h3>
                <ul class="footer-list-li-info">
                    <li class="footer-list-li-info-adress">
                        <h4 class="footer-list-li-info-adress-title">Chicago</h4>
                        <a href="" class="footer-list-li-info-adress-cord">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </li>
                    <li class="footer-list-li-info-time">
                        <ul>
                            <li class="footer-list-li-info-time-cal">
                                <p>Monday - Friday</p>
                                <p class="footer-list-li-info-time-day">06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p>Saturday - Sunday</p>
                                <p class="footer-list-li-info-time-day">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-list-li-info-contact">
                        <ul>
                            <li><a href="tel:+610383766284" class="footer-list-li-info-contact-nomber">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com" class="footer-list-li-info-contact-mail">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="footer-list-li">
                <div>
                    <h3 class="footer-list-li-h3"><a href="" class="footer-list-li-h3-a">FOOD TRUCK</a></h3>
                </div>
                <ul class="footer-list-li-info">
                    <li class="footer-list-li-info-adress">
                        <h4 class="footer-list-li-info-adress-title">Los Angeles</h4>
                        <a href="" class="footer-list-li-info-adress-cord">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                   </li>

                    <li class="footer-list-li-info-time">
                        <ul>
                            <li class="footer-list-li-info-time-cal">
                                <p>Monday - Friday</p>
                                <p class="footer-list-li-info-time-day">06:00 AM - 10:00 PM</p>
                            </li>

                            <li>
                                <p>Saturday - Sunday</p>
                                <p class="footer-list-li-info-time-day">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-list-li-info-contact">
                        <ul>
                            <li><a href="tel:+610383766284" class="footer-list-li-info-contact-nomber">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com" class="footer-list-li-info-contact-mail">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="footer-list-li">
                <div>
                    <h3 class="footer-list-li-h3"><a href="" class="footer-list-li-h3-a">CAFE</a></h3>
                </div>
                <ul class="footer-list-li-info">
                    <li class="footer-list-li-info-adress">
                        <h4 class="footer-list-li-info-adress-title">New York</h4>
                        <a href="" class="footer-list-li-info-adress-cord">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </li>
                    <li class="footer-list-li-info-time">
                        <ul>
                            <li class="footer-list-li-info-time-cal">
                                <p>Monday - Friday</p>
                                <p class="footer-list-li-info-time-day">06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p>Saturday - Sunday</p>
                                <p class="footer-list-li-info-time-day">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-list-li-info-contact">
                        <ul>
                            <li><a href="tel:+610383766284" class="footer-list-li-info-contact-nomber">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com" class="footer-list-li-info-contact-mail">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="footer-button">
            <li>
                <button type="button" class="footer-button-1">
                   Our Locations >
                </button>
            </li>

            <li>
                <button type="button" class="footer-button-2">
                    Franchise >
                </button>
            </li>
        </ul>


        -->
        <div class="footer-cmi">


            <div class="footer-cmi-text">
                <p class="footer-title-p">homemade ice cream made</p>
                <h2 class="footer-title">with passion</h2>
            </div>

            <div>
                
                <ul class="footer-icon">
                    <li class="footer-icon-bg">
                    <a href="" class="footer-icon-svg">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-github-social" class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>

                    <li class="footer-icon-bg">
                    <a href=""  class="footer-icon-svg">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-telegram-social" class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>

                    <li class="footer-icon-bg">
                    <a href=""  class="footer-icon-svg">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-facebook-social"  class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>
                </ul>

                <p class="footer-cmi-fill-p"><a href="tel:+610383766284" class="footer-cmi-fill">Feel free to contact <span class="footer-cmi-nomber">+61 (0) 383 766 284</span></a></p>
            </div>

        </div>
        <p class="footer-policy">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
