<footer class="footer">
    <div class="container">
        <div class="footer-cmi">


            <div class="footer-cmi-text">
                <p class="footer-title-p">homemade ice cream made</p>
                <p class="footer-title">with passion</p>
            </div>

            <div class="footer-cmi-fill-cont">
                
                <ul class="footer-icon">
                    <li class="">
                    <a href="https://github.com/" rel="noreferrer noopener"  target="_blank" class="footer-icon-svg footer-icon-bg">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-github-social" class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>

                    <li class=" ">
                    <a href="https://web.telegram.org" rel="noreferrer noopener"  target="_blank" class="footer-icon-svg  footer-icon-bg">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-telegram-social" class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>

                    <li class=" ">
                    <a href="https://www.facebook.com/" rel="noreferrer noopener"  target="_blank" class="footer-icon-svg footer-icon-bg" rel="">
                    <svg width="20px" height="20px">
                        <use href="./images/icons/icons.svg#icon-facebook-social"  class="footer-icon-col"></use>
                    </svg>
                    </a>
                    </li>
                </ul>

                <p ><a href="tel:+610383766284" class="footer-cmi-fill footer-cmi-fill-p">Feel free to contact <span class="footer-cmi-nomber">+61 (0) 383 766 284</span></a></p>
            </div>

        </div>
        <p class="footer-policy">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
