<footer class="footer">
    <div>
        <h2 class="">Adress</h2>
        <Ul>
            <li>
                <div>
                    <h3><a href="">CAFE</a></h3>
                </div>
                <ul>
                    <li>
                        <h4>Chicago</h4>
                        <a href="">10340 Ridgeland Ave, Chicago<br />Ridge, IL 60415, USA</a>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <p>Monday - Friday</p>
                                <p>06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p>Saturday - Sunday</p>
                                <p>08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <div>
                    <h3><a href="">FOOD TRUCK</a></h3>
                </div>
                <ul>
                    <li>
                        <h4>Los Angeles</h4>
                        <a href="">1003 Manhattan Ave, Manhattan <br />Beach, CA 90263, USA</a>
                    </li>

                    <li>
                        <ul>
                            <li>
                                <p>Monday - Friday</p>
                                <p>06:00 AM - 10:00 PM</p>
                            </li>

                            <li>
                                <p>Saturday - Sunday</p>
                                <p>08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <div>
                    <h3><a href="">CAFE</a></h3>
                </div>
                <ul>
                    <li>
                        <h4>New York</h4>
                        <a href="">726 Sterling Pl, Brooklyn, NY <br />11222, USA</a>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <p>Monday - Friday</p>
                                <p>06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p>Saturday - Sunday</p>
                                <p>08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </Ul>

        <ul>
            <li>
                <button type="button">
                    <p>Our Locations ></p>
                </button>
            </li>

            <li>
                <button type="button">
                    <p>Franchise ></p>
                </button>
            </li>
        </ul>
        <div>
            <div>
                <P>homemade ice cream made</P>
                <p>with passion</p>
            </div>

            <div>
                
                <ul>
                    <li>
                    <a href="">
                    <svg>
                        <use href="#"></use>
                    </svg>
                    </a>
                    </li>

                    <li>
                    <a href="">
                    <svg>
                        <use href="#"></use>
                    </svg>
                    </a>
                    </li>

                    <li>
                    <a href="">
                    <svg>
                        <use href="#"></use>
                    </svg>
                    </a>
                    </li>
                </ul>

                <p>Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>
            </div>

        </div>
        <p>&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
