<section class="gallery">
  <div class="container gallery-container">
    <h2 class="visually-hidden">gallery</h2>

    <div class="slides swiper disolve">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="slide">
            <source
              srcset="
                ./images/images-gallery/ice_des@1x.avif 1x,
                ./images/images-gallery/ice_des@2x.avif 2x,
                ./images/images-gallery/ice_des@3x.avif 3x
              "
              media="(min-width: 1200px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des@1x.webp 1x,
                ./images/images-gallery/ice_des@2x.webp 2x,
                ./images/images-gallery/ice_des@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des@1x.jpg 1x,
                ./images/images-gallery/ice_des@2x.jpg 2x,
                ./images/images-gallery/ice_des@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_tab@1x.avif 1x,
                ./images/images-gallery/ice_tab@2x.avif 2x,
                ./images/images-gallery/ice_tab@3x.avif 3x
              "
              media="(min-width: 768px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab@1x.webp 1x,
                ./images/images-gallery/ice_tab@2x.webp 2x,
                ./images/images-gallery/ice_tab@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab@1x.jpg 1x,
                ./images/images-gallery/ice_tab@2x.jpg 2x,
                ./images/images-gallery/ice_tab@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_mob@1x.avif 1x,
                ./images/images-gallery/ice_mob@2x.avif 2x,
                ./images/images-gallery/ice_mob@3x.avif 3x
              "
              media="(max-width: 767px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob@1x.webp 1x,
                ./images/images-gallery/ice_mob@2x.webp 2x,
                ./images/images-gallery/ice_mob@3x.webp 3x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob@1x.jpg 1x,
                ./images/images-gallery/ice_mob@2x.jpg 2x,
                ./images/images-gallery/ice_mob@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/images-gallery/ice_des@1x.jpg"
              alt="Ice Cream"
              width="1013"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="slide">
            <source
              srcset="
                ./images/images-gallery/ice_des1@1x.avif 1x,
                ./images/images-gallery/ice_des1@2x.avif 2x,
                ./images/images-gallery/ice_des1@3x.avif 3x
              "
              media="(min-width: 1200px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des1@1x.webp 1x,
                ./images/images-gallery/ice_des1@2x.webp 2x,
                ./images/images-gallery/ice_des1@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des1@1x.jpg 1x,
                ./images/images-gallery/ice_des1@2x.jpg 2x,
                ./images/images-gallery/ice_des1@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_tab1@1x.avif 1x,
                ./images/images-gallery/ice_tab1@2x.avif 2x,
                ./images/images-gallery/ice_tab1@3x.avif 3x
              "
              media="(min-width: 768px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab1@1x.webp 1x,
                ./images/images-gallery/ice_tab1@2x.webp 2x,
                ./images/images-gallery/ice_tab1@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab1@1x.jpg 1x,
                ./images/images-gallery/ice_tab1@2x.jpg 2x,
                ./images/images-gallery/ice_tab1@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_mob1@1x.avif 1x,
                ./images/images-gallery/ice_mob1@2x.avif 2x,
                ./images/images-gallery/ice_mob1@3x.avif 3x
              "
              media="(max-width: 767px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob1@1x.webp 1x,
                ./images/images-gallery/ice_mob1@2x.webp 2x,
                ./images/images-gallery/ice_mob1@3x.webp 3x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob1@1x.jpg 1x,
                ./images/images-gallery/ice_mob1@2x.jpg 2x,
                ./images/images-gallery/ice_mob1@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/images-gallery/ice_des1@1x.jpg"
              alt="Ice cream balls"
              width="1013"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="slide">
            <source
              srcset="
                ./images/images-gallery/ice_des2@1x.avif 1x,
                ./images/images-gallery/ice_des2@2x.avif 2x,
                ./images/images-gallery/ice_des2@3x.avif 3x
              "
              media="(min-width: 1200px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des2@1x.webp 1x,
                ./images/images-gallery/ice_des2@2x.webp 2x,
                ./images/images-gallery/ice_des2@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_des2@1x.jpg 1x,
                ./images/images-gallery/ice_des2@2x.jpg 2x,
                ./images/images-gallery/ice_des2@3x.jpg 3x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_tab2@1x.avif 1x,
                ./images/images-gallery/ice_tab2@2x.avif 2x,
                ./images/images-gallery/ice_tab2@3x.avif 3x
              "
              media="(min-width: 768px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab2@1x.webp 1x,
                ./images/images-gallery/ice_tab2@2x.webp 2x,
                ./images/images-gallery/ice_tab2@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_tab2@1x.jpg 1x,
                ./images/images-gallery/ice_tab2@2x.jpg 2x,
                ./images/images-gallery/ice_tab2@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images-gallery/ice_mob2@1x.avif 1x,
                ./images/images-gallery/ice_mob2@2x.avif 2x,
                ./images/images-gallery/ice_mob2@3x.avif 3x
              "
              media="(max-width: 767px)"
              type="image/avif"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob2@1x.webp 1x,
                ./images/images-gallery/ice_mob2@2x.webp 2x,
                ./images/images-gallery/ice_mob2@3x.webp 3x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images-gallery/ice_mob2@1x.jpg 1x,
                ./images/images-gallery/ice_mob2@2x.jpg 2x,
                ./images/images-gallery/ice_mob2@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/images-gallery/ice_des2@1x.jpg"
              alt="Ice cream cherry"
              width="1013"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
