<section class="page__banner banner">
  <div class="banner__container container">
    <div class="banner__wrap-info">
      <div>
        <h1 class="banner__title" data-aos="fade-right" data-aos-delay="200">
          ice cream made with <span class="banner__title-word">passion</span>
        </h1>
        <div class="banner__info">
          <a
            class="banner__link-button btn btn-tr"
            href="#products"
            data-aos="fade-down"
            data-aos-delay="600"
            >Products</a
          >
          <a
            class="banner__link"
            href="#how-made"
            data-aos="fade-down"
            data-aos-delay="800"
            >How it’s made?</a
          >
        </div>
      </div>
      <ul class="banner__list">
        <li class="banner__item">
          <span class="banner__number">16</span>
          <span class="banner__place">cafes</span>
        </li>
        <li class="banner__item">
          <span class="banner__number">23</span>
          <span class="banner__place">food trucks</span>
        </li>
      </ul>
    </div>

    <div class="banner__plate">
      <div>
        <picture class="bunner__pic">
          <source
            srcset="
              ./images/banner-img/plate/plate-desktop@1x.avif 1x,
              ./images/banner-img/plate/plate-desktop@2x.avif 2x,
              ./images/banner-img/plate/plate-desktop@3x.avif 3x
            "
            media="(min-width: 1200px)"
            type="image/avif"
          />
          <source
            srcset="
              ./images/banner-img/plate/plate-desktop@1x.webp 1x,
              ./images/banner-img/plate/plate-desktop@2x.webp 2x,
              ./images/banner-img/plate/plate-desktop@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/banner-img/plate/plate-desktop@1x.png 1x,
              ./images/banner-img/plate/plate-desktop@2x.png 2x,
              ./images/banner-img/plate/plate-desktop@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/banner-img/plate/plate-tablet@1x.avif 1x,
              ./images/banner-img/plate/plate-tablet@2x.avif 2x,
              ./images/banner-img/plate/plate-tablet@3x.avif 3x
            "
            media="(max-width: 1199px)"
            type="image/avif"
          />
          <source
            srcset="
              ./images/banner-img/plate/plate-tablet@1x.webp 1x,
              ./images/banner-img/plate/plate-tablet@2x.webp 2x,
              ./images/banner-img/plate/plate-tablet@3x.webp 3x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/banner-img/plate/plate-tablet@1x.png 1x,
              ./images/banner-img/plate/plate-tablet@2x.png 2x,
              ./images/banner-img/plate/plate-tablet@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <img
            loading="lazy"
            src="./images/banner-img/plate/plate-desktop@1x.png"
            alt="Ica cream on the plate"
          />
        </picture>
      </div>
      <div class="banner__plate-info">
        <p class="banner__plate-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="banner__plate-svg" width="40" height="16">
          <use href="./images/icons/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>

    <div class="banner__thumb">
      <picture>
        <source
          srcset="
            ./images/banner-img/ice/ice-desktop@1x.avif 1x,
            ./images/banner-img/ice/ice-desktop@2x.avif 2x,
            ./images/banner-img/ice/ice-desktop@3x.avif 3x
          "
          media="(min-width: 1200px)"
          type="image/avif"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-desktop@1x.webp 1x,
            ./images/banner-img/ice/ice-desktop@2x.webp 2x,
            ./images/banner-img/ice/ice-desktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-desktop@1x.png 1x,
            ./images/banner-img/ice/ice-desktop@2x.png 2x,
            ./images/banner-img/ice/ice-desktop@3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-tablet@1x.avif 1x,
            ./images/banner-img/ice/ice-tablet@2x.avif 2x,
            ./images/banner-img/ice/ice-tablet@3x.avif 3x
          "
          media="(min-width: 768px)"
          type="image/avif"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-tablet@1x.webp 1x,
            ./images/banner-img/ice/ice-tablet@2x.webp 2x,
            ./images/banner-img/ice/ice-tablet@3x.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-tablet@1x.png 1x,
            ./images/banner-img/ice/ice-tablet@2x.png 2x,
            ./images/banner-img/ice/ice-tablet@3x.png 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-mobile@1x.avif 1x,
            ./images/banner-img/ice/ice-mobile@2x.avif 2x,
            ./images/banner-img/ice/ice-mobile@3x.avif 3x
          "
          media="(max-width: 767px)"
          type="image/avif"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-mobile@1x.webp 1x,
            ./images/banner-img/ice/ice-mobile@2x.webp 2x,
            ./images/banner-img/ice/ice-mobile@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/banner-img/ice/ice-mobile@1x.png 1x,
            ./images/banner-img/ice/ice-mobile@2x.png 2x,
            ./images/banner-img/ice/ice-mobile@3x.png 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="banner__img"
          loading="lazy"
          src="./images/banner-img/ice/ice-desktop@1x.png"
          alt="Ice Cream"
        />
      </picture>
    </div>
  </div>
</section>
