<section class="advantages advantages_section">
  <div class="advantages_container container">
    <ul class="advantages_list">
      <li class="advantages_item element-left boxHidded animated">
        <div class="advantages_container-icon">
          <svg class="advantages_icon" width="36px" height="36px">
            <use href="./images/icons/icons.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="advantages_subtitle">721</h3>
        <p class="advantages_paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item element-middle animated boxHidded delay-05s">
        <div class="advantages_container-icon">
          <svg class="advantages_icon" width="36px" height="36px">
            <use href="./images/icons/icons.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="advantages_subtitle">16kg</h3>
        <p class="advantages_paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item element-right animated boxHidded delay-1s">
        <div class="advantages_container-icon">
          <svg class="advantages_icon" width="36px" height="36px">
            <use href="./images/icons/icons.svg#icon-ice-cream"></use>
          </svg>
        </div>
        <h3 class="advantages_subtitle">84</h3>
        <p class="advantages_paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
