<section class="contacts">
  <div class="container">
    <h2 hidden class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="agency">
          <p class="agency__category">CAFE</p>
          <p class="agency__city">Chicago</p>
          <address class="agency__address">
            10340 Ridgeland Ave, <br />
            Chicago Ridge, IL 60415, USA
          </address>
        </div>
        <span class="bottom-line"></span>
        <div class="bottom-line">
          <div class="schedule">
            <p class="schedule__work">
              Monday - Friday<br />
              <time class="schedule__time" datetime="06:00-22:00"
                >06:00 AM - 10:00 PM</time
              >
            </p>
            <p class="schedule__work">
              Saturday - Sunday<br />
              <time class="schedule__time" datetime="06:00-16:00"
                >08:00 AM - 16:00 PM</time
              >
            </p>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="bottom-line">
          <div class="agency">
            <p class="agency__category">FOODTRUCK</p>
            <p class="agency__city">Los Angeles</p>
            <address class="agency__address">
              1003 Manhattan Ave, Manhattan <br />
              Beach, CA 90263, USA
            </address>
          </div>
        </div>
        <div class="bottom-line">
          <div class="schedule">
            <p class="schedule__work">
              Monday - Friday<br />
              <time class="schedule__time" datetime="06:00-22:00"
                >06:00 AM - 10:00 PM</time
              >
            </p>
            <p class="schedule__work">
              Saturday - Sunday<br />
              <time class="schedule__time" datetime="06:00-16:00"
                >08:00 AM - 16:00 PM</time
              >
            </p>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="bottom-line">
          <div class="agency">
            <p class="agency__category">CAFE</p>
            <p class="agency__city">New York</p>
            <address class="agency__address">
              726 Sterling Pl, Brooklyn, NY <br />
              11222, USA
            </address>
          </div>
        </div>
        <div class="bottom-line">
          <div class="work__time">
            <div class="schedule">
              <p class="schedule__work">
                Monday - Friday<br />
                <time class="schedule__time" datetime="06:00-22:00"
                  >06:00 AM - 10:00 PM</time
                >
              </p>
              <p class="schedule__work">
                Saturday - Sunday<br />
                <time class="schedule__time" datetime="06:00-16:00"
                  >08:00 AM - 16:00 PM</time
                >
              </p>
            </div>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="contacts__btn">
      <li class="contacts__btn-item">
        <button class="btn btn__locations" type="button">
          Our Locations
          <svg wight="12" height="12">
            <use href="./images/icons/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button class="btn btn__franchise" type="button">
          Franchise
          <svg wight="12" height="12">
            <use href="./images/icons/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
