<section class="gallery">
  <div class="container gallery-container">
  <h2 class="visually-hidden">gallery</h2>

  <picture>
    <source srcset="/src/images/images-gallery/ice_des@1x.jpg 1x, /src/images/images-gallery/ice_des@2x.jpg 2x"
      media="(min-width: 1200px)" />
    <source srcset="/src/images/images-gallery/ice_tab@1x.jpg 1x, /src/images/images-gallery/ice_tab@2x.jpg 2x" media="(min-width: 768px)" />
    <source srcset="/src/images/images-gallery/ice_mob@1x.jpg 1x, /src/images/images-gallery/ice_mob@2x.jpg 2x" media="(max-width: 767px)" />
    <img src="/src/images/images-gallery/ice_des@1x.jpg" alt="Ice" width="1013">
  </picture>
  </div>

<div class="slider-gallery">
  <div class="slider middle">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
     
      <picture class="slide s1">
        <source srcset="/src/images/images-gallery/ice_des@1x.jpg 1x, /src/images/images-gallery/ice_des@2x.jpg 2x"
        media="(min-width: 1200px)" />
        <img src="/src/images/images-gallery/ice_des@1x.jpg" alt="Ice" width="1013">
      </picture>
      <picture class="slide">
        <source srcset="/src/images/images-gallery/ice_des1@1x.jpg 1x, /src/images/images-gallery/ice_des1@2x.jpg 2x"
          media="(min-width: 1200px)"/>
        <img src="/src/images/images-gallery/ice_des1@1x.jpg" alt="Ice1" width="1013">
      </picture>
      <picture class="slide">
        <source srcset="/src/images/images-gallery/ice_des2@1x.jpg 1x, /src/images/images-gallery/ice_des2@2x.jpg 2x"
          media="(min-width: 1200px)" />
        <img src="/src/images/images-gallery/ice_des2@1x.jpg" alt="Ice2" width="1013">
      </picture>
    </div> 
  </div>
  <div class="slide-navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
  </div>
</div>

</section>

