<section class="contacts" id="contact">
  <div class="container">
    <h2 hidden class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="agency">
          <p class="agency__category">CAFE</p>
          <p class="agency__city">Chicago</p>
          <address class="agency__address">
            <a
              class="agency__address-link"
              href="https://goo.gl/maps/ww39osVyaU8n3YV3A"
              target="_blank"
              rel="noopener noreferrer"
            >
              10340 Ridgeland Ave, <br />
              Chicago Ridge, IL 60415, USA
            </a>
          </address>
        </div>
        <span class="bottom-line"></span>
        <div class="bottom-line">
          <div class="schedule">
            <p class="schedule__work">Monday - Friday</p>
            <p class="schedule__work schedule__work-time">
              <time class="schedule__time" datetime="08:00">08:00</time> AM -
              <time class="schedule__time" datetime="16:00">16:00</time> PM
            </p>
            <p class="schedule__work">Saturday - Sunday</p>
            <p class="schedule__work schedule__work-time">
              <time class="schedule__time" datetime="08:00">08:00</time> AM -
              <time class="schedule__time" datetime="16:00">16:00</time> PM
            </p>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="bottom-line">
          <div class="agency">
            <p class="agency__category">FOODTRUCK</p>
            <p class="agency__city">Los Angeles</p>
            <address class="agency__address">
              <a
                class="agency__address-link"
                href="https://goo.gl/maps/VdsTkizvheRn7qYx9"
                target="_blank"
                rel="noopener noreferrer"
              >
                1003 Manhattan Ave, Manhattan <br />
                Beach, CA 90263, USA
              </a>
            </address>
          </div>
        </div>
        <div class="bottom-line">
          <div class="schedule">
            <p class="schedule__work">Monday - Friday</p>
            <p class="schedule__work schedule__work-time">
              <time class="schedule__time" datetime="08:00">08:00</time> AM -
              <time class="schedule__time" datetime="16:00">16:00</time> PM
            </p>
            <p class="schedule__work">Saturday - Sunday</p>
            <p class="schedule__work schedule__work-time">
              <time class="schedule__time" datetime="08:00">08:00</time> AM -
              <time class="schedule__time" datetime="16:00">16:00</time> PM
            </p>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="bottom-line">
          <div class="agency">
            <p class="agency__category">CAFE</p>
            <p class="agency__city">New York</p>
            <address class="agency__address">
              <a
                class="agency__address-link"
                href="https://goo.gl/maps/ca3TCMJnre2t1MSz6"
                target="_blank"
                rel="noopener noreferrer"
              >
                726 Sterling Pl, Brooklyn, NY <br />
                11222, USA
              </a>
            </address>
          </div>
        </div>
        <div class="bottom-line">
          <div class="work__time">
            <div class="schedule">
              <p class="schedule__work">Monday - Friday</p>
              <p class="schedule__work schedule__work-time">
                <time class="schedule__time" datetime="08:00">08:00</time> AM -
                <time class="schedule__time" datetime="16:00">16:00</time> PM
              </p>
              <p class="schedule__work">Saturday - Sunday</p>
              <p class="schedule__work schedule__work-time">
                <time class="schedule__time" datetime="08:00">08:00</time> AM -
                <time class="schedule__time" datetime="16:00">16:00</time> PM
              </p>
            </div>
          </div>
        </div>
        <div class="communication">
          <a class="communication__item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="communication__item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="contacts__btn">
      <li class="contacts__btn-item">
        <button
          class="btn btn__locations btn-bg js-open-modal"
          type="button"
          data-modal="4"
        >
          Our Locations
          <svg class="btn__icon" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button
          class="btn btn__franchise btn-tr js-open-modal"
          type="button"
          data-modal="5"
        >
          Franchise
          <svg class="btn__icon" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
