.logo {
  position: relative;
  z-index: 95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}
