.products__wrap {
  padding: 60px 25px;
  text-align: center;

  background-image: url(../images/Backgroud_mobile.jpg);
  // background-size: contain;
  @media screen and (min-width: 480px) {
    background-image: url(../images/Background_tablet.jpg);
  }
  @media screen and (min-width: 768px) {
    padding: 60px 32px;
  }
}

.products__label {
  display: block;
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;

  color: var(--text-color);
}

.products__title {
  display: block;
  margin-bottom: 148px;

  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: calc(38 / 30);

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
  }
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 168px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }
}
.products-tumba {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  padding: 123px 40px 16px;
  min-height: 420px;
  border-radius: 24px;

  &::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 16px) / 3);
  }
}
.products-list__item--green {
  background-color: #aec6a5;
  &::before {
    content: '';
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    top: -111px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;

    background-image: url(../images/ice-cream.png);
    background-repeat: no-repeat;
  }
}
.products-list__item--yellow {
  background-color: #efd478;
  &::before {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    top: -111px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;

    background-image: url(../images/ice-coffee.png);
    background-repeat: no-repeat;
  }
}
.products-list__item--cream {
  background-color: #d6936d;
  &::before {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    top: -111px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;

    background-image: url(../images/milkshakes.png);
    background-repeat: no-repeat;
  }
}

.products-list__title {
  margin-bottom: 40px;

  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-color);
}

.products-list__description {
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;

  color: var(--text-color);
}
.products-list__wrap {
  margin-bottom: 40px;
}
.products-list__btn {
  height: 16px;
  background-color: transparent;
  border: none;

  //   position: absolute;
  //   bottom: 60px;
  //   left: 50%;

  //   transform: translateX(-50%);
}
