.swiper__img {
    text-align: center;
    width: 85px;
    height: 85px;
    display: flex;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


.swiper__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: var(--second-text-color);
    background: var(--bg-color);
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    @media screen and (min-width: 320px) {
        padding: 35px 39px;
                
    }
    @media screen and (min-width: 768px) {
        padding: 28px 80px;
    }
        @media screen and (min-width: 1200px) {
            padding: 43px 109px;
        }
}
.swiper__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: var(--text-color);
}